<div class="appContent">
    <div class="row header">
        <div class="col-sm-10  col-xs-10 logo">
          <img (click)="drawer.toggle()" src="../assets/images/Apple_Logo.png">
          <span>JSON Handler</span>
        </div>
        <div class="col-sm-2 col-xs-2">
            <div class="dropdown">
                <p class="dropbtn">
                  <img  src="../assets/images/sandeep.jpg"/>
                </p>
                <div class="dropdown-content">
                  <p>Name : Sandeep Yadav</p>
                  <p>Role : UI developer</p>
                  <p class="logout"><button>Logout</button></p>
                </div>
              </div>
        </div>
      </div>
      <div class="row content">
          <mat-drawer-container class="example-container col-sm-12" autosize>
              <mat-drawer #drawer class="example-sidenav" mode="side">
                <div class="navigations">
                    <p class="navs">
                        <a RouterLinkActive='active' routerLink="/csvToJson">CSV to JSON</a>
                      </p>
                      <p class="navs">
                          <a RouterLinkActive='active' routerLink="/jsonToCSV">JSON to CSV</a>
                      </p>
                      <p RouterLinkActive='active' class="navs">
                          <a RouterLinkActive='active' routerLink="/formatJson">Format Json</a>
                      </p>
                </div>
                <!-- <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-description>
                          Navigations
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      
                    </mat-expansion-panel>
                  </mat-accordion> -->
              </mat-drawer>
            
              <div class="sidenav-content col-sm-12">
                  <router-outlet></router-outlet>
              </div>
            
            </mat-drawer-container>
      </div>
      <div class="row footer">
        copyright reserved with Apple Inc. 2000-2018
      </div>
</div>