/* You can add global styles to this file, and also import other style files */

.card{
    .header{
        height: 40px;
        background-color: #000000;
        color:#ffffff;
        line-height: 40px;
        font-size: 16px;
        padding-left: 15px;
    }

    .text{
        height: 100px;
        width: 100%;
    }
}
